@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">رزرو صندلی</h1>
    <!-- Add a link to go to seats page -->
    <a class="btn btn-primary btn-lg" href="/Seats/Index">شروع کن!</a>
</div>
